@tailwind base;
@tailwind components;
@tailwind utilities;


td > ul{
    margin-left: 15px;
}

.dataTables_wrapper .dataTables_length select {
    background-position: left 1.1rem center;
}

h1.ck-placeholder{
    display: none;
}
p.ck-placeholder{
    margin-top: 20px;
    height: 100px;
}

/*th:hover, td:hover{*/
/*    resize: both;*/
/*    overflow: hidden;*/
/*    max-height: fit-content;*/
/*    max-width: fit-content;*/
/*}*/



